/*--------/Default/------------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	font-family: Montserrat;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.2;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------/Default/------------*/

.wrapper {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
.left-section {
	padding: 20px;
	flex: 0 1 40%;
	background-color: rgba(50, 255, 0, 0.21);
}

.book-list__items,
.book-list__items-like {
	background-color: white;
}
.book-list__items .delition {
	animation: opacity 1s linear;
}
.book-list__item {
	border: 1px solid #000;
	justify-content: space-between;
	display: flex;
	margin-bottom: 5px;
	padding: 5px;
}
.book-list__title {
	font-size: 20px;
}

.book-list__redaction,
.book-list__complite,
.book-list__read,
.book-list__del {
	background-color: grey;
	font-size: 20px;
	margin: 0 4px;
	padding: 2px 5px;
	border-radius: 5px;
	cursor: pointer;
	line-height: 1;
}
.book-list__control {
	display: flex;
}
.book-list__redaction {
}
.book-list__complite {
}
.book-list__read {
}
.book-list__del {
}
.add-books{
	padding: 20px 0px;
}
p {
	margin: 10px 0px;
}
.add-books h2{
	padding: 20px 0px;
}
#book-text {
	width: 300px;
	height: 200px;
}
#file {
	margin-bottom: 10px;
}
#download-file input{
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
}
#download-file input:hover{
	cursor: pointer;
}
.rigth-section {
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	flex: 0 0 60%;
	background-color: rgba(255, 255, 0, 0.21);
}
.items-like__drop-zoneLike,
.items__drop-zoneDislike {
	line-height: 50px;
	text-align: center;
	height: 50px;
	width: 100%;
	border: 1px dotted #000;
}
#book-reading {
	width: 90%;
	min-height: 400px;
	padding: 10px;
}
#book-reading__btn {
	padding: 10px;
	background-color: rgba(255, 255, 0, 0.21);
	border: 1px solid #000;
	cursor: pointer;
}
#book-name{
	width: 100%;
	max-width: 300px;
	min-height: 50px;
}
.hide {
	background-color: black;
}
.none {
	display: none;
}
.hovered {
	background-color: rgba(255, 0, 0, 0.172);
}

@keyframes opacity {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
